.user-name{
color: #4267B2;
font-size: 20px;
}
/* color: #4267B2; this is the facebook blue color */
.user-post{

}
.date-posted{
    color:lightgray

}

.interaction-count{
    color: #4267B2; 
    font-size:20px;
    text-align: center;
    position:relative;
    top: 0%;
    left: 0%;
}

.container {
    width: 450px;
    
    border-radius: 15px;
    border: 5px solid white;
    background-color: white;
    padding: 50px;
    margin: 20px;   
  }
  .all-background{
background-color: #f2f2f2;
  }

  .vote-container{
    position: relative;
        top: 0%;
        left: 0%;
    /* display:flex;
    text-align: center;  */
    align-items: center;
    width: 40px;
    height: 90px;
    border-radius: 8px;
    background-color: rgb(241, 237, 237);
  }


  /* Used to center images */
  .center {

    display: block;
    margin:auto;
    width: 50%;
 
    /* height: 20%; */
  }

  .vote-up-button{
    align-items: center;
    margin-left:35%
    /* align-items: top; */
    /* position: relative;
    top: 0% ;
    left: 25%; */
  }
  .vote-down-button{
/* align-items: center; */
/* margin- */
margin-left: 37%;

    /* position: relative  ;
        top: 0%;
        left:25%; */
  }